name: you_save
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  english_words: ^4.0.0
  provider: ^6.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - lib/heart_without_bg.png # Replace with your actual filename
    - lib/Adult-age-selection.png
    - lib/Child-age-selection.png
    - lib/Infant-age-selection.png
